.hero-container {
  margin: 1em;
  padding: 2em;
  border-radius: 0.3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hero-content {
  // background-color: white;
}
.hero-title {
  border-bottom: 0.1em solid rgb(243, 240, 240);
}
.hero-data-wrapper {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 0.5em;
}

.hero-data {
  .h4 {
    border-bottom: 1px solid gray;
  }
}
